
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top ">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/1.png" style="display: inline-block;" class="rounded" height="30" width="40">&nbsp;
    <span style="display: inline-block;" class="text-light">  Deccan Sport Club</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active m-3 text-light">
        <label for="">
          {{'HOME.SELECT' |translate}}
          <select #langselect (change)="translate.use(langselect.value)">
            <option *ngFor="let langs of translate.getLangs()" [value]="langs">{{langs}}</option>
          </select>
        </label>

      </li>
      <li class="nav-item active m-3 text-light">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.HOME'|translate}}</a>
      </li>
      <li class="nav-item m-3">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.SERVICES'|translate}}</a>
      </li>
      <li class="nav-item m-3  ">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.ABOUT'|translate}}</a>
      </li>

        <li class="nav-item m-3 ">
          <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.ACCOUNT'|translate}}</a>
        </li>

    </ul>
  </div>
</nav>

<div class="text-light">
  <h3>{{'HOME.TITLE' | translate}}</h3>
  <p>
    {{'HOME.TEXT'|translate}}
  </p>
</div>

<div class="container-fluid">


  <div class="row ">
    <div class="col-sm text-center"></div>
    <div class="col-sm shadow  text-center">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title text-info">{{'MEMBERSHIP.MEMBERSHIPT1'|translate}}</h5>
          <p class="card-text text-primary">{{'MEMBERSHIP.BENEFITS'|translate}}</p>
        </div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT1'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT2'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT3'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT4'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT5'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT6'|translate}}</li>

        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-primary btn-lg btn-block">BUY</button>
        </div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title text-info">{{'MEMBERSHIP.MEMBERSHIPT2'|translate}}</h5>
          <p class="card-text text-primary">{{'MEMBERSHIP.BENEFITS'|translate}}</p>
        </div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT1'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT7'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT3'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT4'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT5'|translate}}</li>
          <li class="list-group-item">{{'MEMBERSHIP.CONTENT.CONTENT6'|translate}}</li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getMembership()">BUY</button>
        </div>
      </div>
    </div>
    <div class="col-sm text-center"></div>

  </div>
</div>

<button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
  <mat-icon>
    {{showIcon(i)}}
  </mat-icon>
</button>
<mat-error *ngIf="starCount == null || starCount == 0">
  Star count is <strong>required</strong> and cannot be zero
</mat-error>
<p class="body-2">
    Your rated <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
</p>


<div class="container-fluid">
<div class="row">
  <div class="col">
<mat-card style="flex-wrap: wrap;">
  <mat-card-title>{{'MEMBERSHIP.MEMBERSHIPT2'|translate}}</mat-card-title>
  <mat-divider></mat-divider>
  <mat-list>
    <h3 matSubheader>{{'MEMBERSHIP.BENEFITS'|translate}}</h3>
    <mat-list-item>
      <mat-icon matListAvatar>accessible</mat-icon>
      <h4 matLine >{{'MEMBERSHIP.CONTENT.CONTENT1'|translate}}</h4>
    </mat-list-item>
    <mat-divider matInset></mat-divider>
    <mat-list-item>
      <mat-icon matListAvatar>network_wifi</mat-icon>
      <h4 >{{'MEMBERSHIP.CONTENT.CONTENT3'|translate}}</h4>
    </mat-list-item>
    <mat-divider matInset></mat-divider>
    <mat-list-item>
      <mat-icon matListAvatar>airline_seat_recline_extra</mat-icon>
      <h4 matLine>{{'MEMBERSHIP.CONTENT.CONTENT4'|translate}}</h4>
    </mat-list-item>
    <mat-divider matInset></mat-divider>
    <mat-list-item>
      <mat-icon matListAvatar>sentiment_satisfied_alt</mat-icon>
      <h4 matLine>{{'MEMBERSHIP.CONTENT.CONTENT5'|translate}}</h4>
    </mat-list-item>
    <mat-divider matInset></mat-divider>
    <mat-list-item>
      <mat-icon matListAvatar>home_repair_service</mat-icon>
      <h4 matLine>{{'MEMBERSHIP.CONTENT.CONTENT6'|translate}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>VALIDITY</h3>
    <mat-list-item>
      <mat-icon matListAvatar>schedule</mat-icon>
      <h4 matLine>{{'MEMBERSHIP.CONTENT.CONTENT7'|translate}}</h4>
    </mat-list-item>
    <mat-divider matInset></mat-divider>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button color="accent" class="text-upper">Edit</button>
  </mat-card-actions>
</mat-card>
</div>
<div class="col"></div>
<div class="col"></div>
</div>
</div>
<app-dash></app-dash>
<router-outlet></router-outlet>
