
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top ">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/1.png" style="display: inline-block;" class="rounded" height="30" width="40">&nbsp;
    <span style="display: inline-block;" class="text-light">  Deccan Sport Club</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active m-3 text-light">
        <label for="">
          {{'HOME.SELECT' |translate}}
          <select #langselect (change)="translate.use(langselect.value)">
            <option *ngFor="let langs of translate.getLangs()" [value]="langs">{{langs}}</option>
          </select>
        </label>

      </li>
      <li class="nav-item active m-3 text-light">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.HOME'|translate}}</a>
      </li>
      <li class="nav-item m-3">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.SERVICES'|translate}}</a>
      </li>
      <li class="nav-item m-3  ">
        <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.ABOUT'|translate}}</a>
      </li>

        <li class="nav-item m-3 ">
          <a class="nav-link" href="#" class="text-light">{{'HOME.MENU.ACCOUNT'|translate}}</a>
        </li>

    </ul>
  </div>
</nav>

<div class="text-light">
  <h3>{{'HOME.TITLE' | translate}}</h3>
  <p>
    {{'HOME.TEXT'|translate}}
  </p>
</div>


<router-outlet></router-outlet>
